{% extends "@Resa/base.html.twig" %}

{% block body %}
    <div class="row">
        {% for notice in app.session.flashbag.get('notice') %}
            <div class="flashbag col-md-6 col-md-offset-3" style="margin-top: 10px;">
                <p class="alert alert-succes">{{ notice }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center; margin-bottom: 30px;">
            <h2>Choisissez votre Hôtel</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            {% for letter in alaphabet %}
                <a href="{{ path("homepage", {"letter": letter})}}" style="text-decoration: None">{{ letter }}</a>

            {% endfor %}
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-6 col-md-offset-3">
            <table class="table">
                <tr>
                    <th>Ville</th>
                    <th></th>
                </tr>
                {% for hotel in hotels %}
                    <tr>
                        <td>{{ hotel.ville }}</td>
                        <td><a href="{{ path('chamberOfHotel', {'id_Hotel': hotel.id}) }}" class="btn btn-primary pull-right">Accéder</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
